.container {
  max-width: 500px; /* Change max-width to make it responsive */
  border-radius: 8px;
  border: 1px solid #d6dee1;
  padding: 1rem;
  overflow: hidden;
  margin: auto;
 
  background-color: #d3e3eb; /* Add a background color */
}


.app-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 0;
  text-align: center;
}